<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Auto_parking.Properties.Settings.conn" connectionString="Data Source=DESKTOP-O102R4K;Initial Catalog=Thong_Tin_Bien_So_Xe;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
